body{
    background-color: cornflowerblue
}
#points{
    margin-top: 40px;
    font-size: 40px;
    font: icon;
    color:whitesmoke;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
h1{
    text-align: center;
    font-weight: 100;
    font-family: cursive;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
#root{
    display: block;
    margin-top: 50px;
}
#congo{
    position: absolute;
    margin-top: 60px;
    display: none;
}